.nav-links__container{
    display: flex;
    align-items: center;
}

.nav-links{
    text-decoration: none;
    color: #ffd764;
    font-size: 20px;
    font-weight: bold;
    margin: 50px;
}

.nav-links:hover{
    color: #09aeb8;
    text-decoration: underline;
}

.active{
    color: #09aeb8;
    text-decoration: underline;
    font-size: 20px;
    font-weight: bold;
}

    .active:hover{
        color: #09aeb8;
        text-decoration: underline;
    }

@media screen and (max-width: 768px) {
    .nav-links__container{
        flex-direction: column;
        margin-top: 100px;
    }

    .nav-links__container li{
        margin: 20px;
    }
}
